<h1>
  <%= change.GEOID %> - 
  <%= data.post %>
</h1>
<table>
  <thead>
    <tr>
      <th>Homes with multiple offers</th>
      <th>Homes sold above list price</th>
      <th>Total homes sold</th>
  <tbody>
    <tr>
      <td class="multiple">
        <% if (data.multiples.length) { %>
        <ul>
        <% data.multiples.forEach(function(row) { %>
          <li> <%= row.year %>: <%= (row.value * 100).toFixed(1) %>%
        <% }); %>
        </ul>
        <% } else { %>
        No data
        <% } %>
      </td>
      <td class="above">
        <% if (data.aboves.length) { %>
        <ul>
        <% data.aboves.forEach(function(row) { %>
          <li> <%= row.year %>: <%= (row.value * 100).toFixed(1) %>%
        <% }); %>
        </ul>
        <% } else { %>
        No data
        <% } %>
      </td>
      <td class="sold">
        <% if (data.sold.length) { %>
        <ul>
        <% data.sold.forEach(function(row) { %>
          <li> <%= row.year %>: <%= row.value < 10 ? "< 10" : row.value.toLocaleString().replace(/\.0+/, "") %>
        <% }); %>
        </ul>
        <% } else { %>
        No data
        <% } %>
      </td>
</table>
</div>