<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

  <responsive-child class="map-container">
    <div class="outmost">
      <section class="chatter">
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat aliquam lectus vitae porttitor. Donec euismod sem dui, ac gravida sem mattis sed. Fusce porttitor accumsan sem elementum convallis. Nam id augue lobortis, laoreet magna non,
          sodales risus. </p>
      </section>

      <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">

          <leaflet-map zoom=10>
            <tile-layer layer="esriDarkGray"></tile-layer>
          </leaflet-map>

        </div>
        <aside class="legend">
          <h1>Maximum salary increased by</h1>
          <ul class="scale">
            <li>
              <span class="block" style="background-color: #F9EF55"></span> 0-5%</li>
            <li>
              <span class="block" style="background-color: #FFBA40"></span> 6-10%</li>
            <li>
              <span class="block" style="background-color: #F78B43"></span> 11-15%</li>
            <li>
              <span class="block" style="background-color: #D33A55"></span> 15-20%</li>
            <li>
              <span class="block" style="background-color: #AB1D34"></span> 21% or more</li>
          </ul>
        </aside>
      </div>


      <div class="source">Source: Name of source
        <span class="credit">Emily M. Eng / THE SEATTLE TIMES</div>
    </div>
  </responsive-child>
    <script>
      window.allData = <%= JSON.stringify(json.PostMcClearyTeacherContracts_SalaryComparisons) %>;
    </script>

  <script src="app.js"></script>
  <% /*= t.include("partials/_foot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
</body>

</html>
